* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
    --gradiente: linear-gradient(90deg, var(--primaria), var(--secundaria));
    --gradiente-escuro: linear-gradient(90deg, #0f172a, #0a0f1c);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex; /*Flex para ficar um do lado do outro*/
    list-style: none; /*Remove os pontos da lista*/
    gap: 3rem; /*Espaçamento entre os itens do menu*/
    justify-content: center; /*Centraliza os itens do menu*/
}



.menu-link {
    text-decoration: none; /*Remove o sublinhado dos links*/
    color: var(--claro); /*Cor do texto dos links*/
    font-weight: 500; /*Deixa o texto mais grosso*/
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: ''; /*Obrigatório colocar*/
    height: 0.2rem;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 300ms ease-in-out; 
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex; /*Flex para alinhar os itens*/
    justify-content: center; /*Centraliza os itens*/
    align-items: center; /*Alinha os itens verticalmente*/
    flex-direction: column; /*Coloca os itens em coluna*/
}

.foto-perfil {
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 2rem rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 0.4rem solid var(--vidro);
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 2rem;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;

}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 2rem;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto; /*Centraliza a caixa*/
    border-radius: 1.6rem;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px); /*Desfoque do fundo*/
    background: rgba(255, 255, 255, 0.05);

}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.projetos-card:hover {
    box-shadow: 0 1rem 2rem rgba(79, 70, 229, 0.2);
    transform: translateY(-1rem) scale(1.03); /*Efeito de hover no titulo dos projetos*/
}

.projetos-imagem:hover {
    transform: scale(1.05); /*Efeito de hover na imagem dos projetos*/
}

.projetos-caixa {
    display: grid; /*Organiza os cards em grid*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /*Cria colunas que se repetem, utilizanod o "repeat". O "auto-fit" faz com que as colunas se ajustem automaticamente ao tamanho disponivel. E o "minmax" define o tamanho minimo que devem ocupar (300px) e o máximo (1fr, que corresponde a 1 fração de espaço disponível).*/
    gap: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1.6rem;
    backdrop-filter: blur(5px); /*Desfoque do fundo*/
    border: 1px solid var(--vidro);
    overflow: hidden; /*Esconde o que ultrapassar o card*/
    transition: all 400ms ease;
    cursor: pointer; /*Muda o cursor para a mãozinha quando passar por cima do card*/
}

.projetos-imagem {
    height: 20rem;
    width: 100%;
    object-fit: cover; /*Cobre todo o espaço do card*/
    transition: 400ms all ease;
}

.info-projetos {
    margin-bottom: 0.5rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.15rem; /*Espaçamento entre as linhas*/

}

.caixa-textos-projetos {
    padding: 1.5rem;
}


.contato {
    padding: 6rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.formulario-contato {
    max-width: 60rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px); /*Desfoque do fundo*/
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 1.6rem;
}


.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.8rem;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none; /*Remove o contorno do campo*/
}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 0.5rem rgba(79, 70, 229, 0.3);
    transition: all 300ms ease;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer; /*Muda o cursor para a mãozinha quando passar por cima do botão*/
    font-weight: bold;
    width: 100%;
    transition: all 400ms ease;
}

.botao-form:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 0.5rem 1rem rgba(79, 70, 229, 0.4);
}
